/****** Letra ******/
/* font-family: 'Roboto', sans-serif; */
/* Thin 100 */
/* Light 300 */
/* Regular 400 */

:root {
	--verde: #80BE4E;
	--azul: #007AEA;
}

.containerFamily{
    font-family: 'Roboto', sans-serif;
    padding: 40px 80px;
}

.titleForm{
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
}

.formFamily {
    display: flex;
    gap: 20px;
    margin: 30px 0 0 0;
    padding-left: 100px;
}

.formFamily__label {
    font-weight: 300;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    padding: 10px 25px;
}

.formFamily__input {
    width: 100%;
    padding: 5px 30px;
    border: 2px solid #d1d1d1;
    border-radius: 10px;
    display: block;
}

.formFamily__btn {
    background-color: white;
    display: inline;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    height: 27px;
    margin: 43px 50px;
}

.boton:hover {
    background: #44a559;
    color: #fff;
}

.formFamily__iconBtn {
    color: #44a559;
    font-size: 25px;
}

/* * --- --- ---  LISTA TAREAS --- --- --- */

.lista-tareas {
	list-style: none;
	height: 100%;
	overflow: auto;
}

.lista-tareas__tarea {
	height: 35px;
	padding: 0 20px;
	align-items: center;
	color: #4B4B4B;
	font-size: 15px;
	display: grid;
	grid-template-columns: auto 1fr auto;
}

.lista-tareas__texto {
	text-align: left;
	width: 100%;
}

.lista-tareas__tarea:hover .lista-tareas__icono-accion {
	opacity: 0.5;
}

.lista-tareas__tarea:nth-child(even) {
	background: #F3F3F3;
}

.lista-tareas__contenedor-botones {
	display: flex;
}

.lista-tareas__icono {
	cursor: pointer;
	font-size: 15px;
}

.lista-tareas__icono-check {
	margin-right: 20px;
	font-size: 15px;
}

.lista-tareas__icono-accion {
	margin-left: 20px;
	opacity: 0;
	transition: .3s ease all;
}

.lista-tareas__mensaje {
	text-align: center;
	color: #746a6a;
	font-size: 20px;
	padding: 40px 20px;
}

/* * --- --- ---  FORMULARIO EDITAR TAREA --- --- --- */
.formulario-editar-tarea {
	display: flex;
}

.formulario-editar-tarea__input {
	width: 100%;
	border: none;
	border-bottom: 2px solid #b8b8b8;
	background: none;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	margin-right: 20px;
}

.formulario-editar-tarea__btn {
	border: none;
	background: var(--verde);
	cursor: pointer;
	color: #fff;
	padding: 0 10px;
	font-family: 'Roboto', sans-serif;
	border-radius: 3px;
}