/****** Colores ******/
/* Fondo #D9D9D9 */

/****** Letra ******/
/* font-family: 'Roboto', sans-serif; */
/* Thin 100 */
/* Light 300 */
/* Regular 400 */


.navbar {
    background-color: #d9d9d9ab;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 5px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.imageLogo {
    padding-left: 1px;
}

.imageLogo2 {
    padding-left: 1px;
}
.imageLogo img {
    width: 288px;
    height: 50;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding-right: 130px;
    margin-top: 10px;

}

.user h4 {
    /*   margin-top: 40px; */
    margin-right: 10px;
    font-weight: 300;
    font-size: 20px;
}

.iconUser {
    width: 64px;
    height: 64px;
    color: #16B9CF;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .navbar {
        display: flex;
        align-items: center;
        padding: 5px 0px;
    }

    .imageLogo {
        padding-left: 20px;
    }

    .imageLogo img {
        width: 208px;
        height: 5;
    }

    .user {
        padding-right: 20px;
    }

    .user h3 {
        font-size: 15px;
        margin-right: 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .navbar {
        display: flex;
        align-items: center;
        padding: 5px 0px;
    }

    .imageLogo {
        padding-left: 20px;
    }

    .imageLogo img {
        width: 248px;
        height: 40;
    }

    .user {
        padding-right: 20px;
    }

    .user h3 {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .navbar {
        display: flex;
        align-items: center;
        padding: 5px 0px;
    }

    .imageLogo {
        padding-left: 60px;
    }

    .user {
        padding-right: 60px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
    .navbar {
        display: flex;
        padding: 5px 25px;
    }

    .imageLogo {
        padding-left: 100px;
    }

    .user {
        padding-right: 80px;
    }
}