.section {
    background-color: #C7DCC7;
    display: flex;
    text-align: center;
    align-items: center;
    height: 100vh;
}

.section img {
    height: 315px;
    width: 600px;
    padding: 70px;
    top: 510px;
    border-radius: 5px;
}
.section h2 {
    font-size: 40px;
    font-weight: 400;
    padding-right: 100px;
}

@media screen and (max-width: 576px){
    .section {
        display: flex;
        flex-direction: column;
    }

    .section img {
        height: 165px;
        width: 300px;
        padding: 50px;
    }
    .section h2 {
        font-size: 28px;
        padding: 10px 40px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .section {
        display: flex;
        flex-direction: column;
    }

    .section img {
        height: 265px;
        width: 500px;
        padding: 50px;
    }
    .section h2 {
        font-size: 28px;
        padding: 10px 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .section img {
        height: 215px;
        width: 500px;
        padding: 40px;
    }
    .section h2 {
        font-size: 28px;
        padding-right: 40px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {    
    .section img {
        height: 265px;
        width: 550px;
    }
    .section h2 {
        font-size: 30px;
        padding-right: 80px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {    
    .section img {
        height: 265px;
        width: 550px;
    }
    .section h2 {
        font-size: 35px;
        padding-right: 80px;
    }
}